FactorImpacto/FactorImpactoClient/xml-resources/web-service-references/FactorImpactWS/wsdl/localhost_8080/FactorImpactWS/FactorImpactWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://websecurity.rammarj.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://websecurity.rammarj.com/" name="FactorImpactWS">
<types>
<xsd:schema>
<xsd:import namespace="http://websecurity.rammarj.com/" schemaLocation="http://localhost:8080/FactorImpactWS/FactorImpactWS?xsd=1" />
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add" />
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse" />
</message>
<message name="update">
<part name="parameters" element="tns:update" />
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse" />
</message>
<message name="find">
<part name="parameters" element="tns:find" />
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse" />
</message>
<message name="find_2">
<part name="parameters" element="tns:find_2" />
</message>
<message name="find_2Response">
<part name="parameters" element="tns:find_2Response" />
</message>
<message name="find_1">
<part name="parameters" element="tns:find_1" />
</message>
<message name="find_1Response">
<part name="parameters" element="tns:find_1Response" />
</message>
<message name="delete">
<part name="parameters" element="tns:delete" />
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse" />
</message>
<message name="getCount">
<part name="parameters" element="tns:getCount" />
</message>
<message name="getCountResponse">
<part name="parameters" element="tns:getCountResponse" />
</message>
<portType name="FactorImpactWS">
<operation name="add">
<input wsam:Action="http://websecurity.rammarj.com/FactorImpactWS/addRequest" message="tns:add" />
<output wsam:Action="http://websecurity.rammarj.com/FactorImpactWS/addResponse" message="tns:addResponse" />
</operation>
<operation name="update">
<input wsam:Action="http://websecurity.rammarj.com/FactorImpactWS/updateRequest" message="tns:update" />
<output wsam:Action="http://websecurity.rammarj.com/FactorImpactWS/updateResponse" message="tns:updateResponse" />
</operation>
<operation name="find">
<input wsam:Action="http://websecurity.rammarj.com/FactorImpactWS/findRequest" message="tns:find" />
<output wsam:Action="http://websecurity.rammarj.com/FactorImpactWS/findResponse" message="tns:findResponse" />
</operation>
<operation name="find_2">
<input wsam:Action="http://websecurity.rammarj.com/FactorImpactWS/find_2Request" message="tns:find_2" />
<output wsam:Action="http://websecurity.rammarj.com/FactorImpactWS/find_2Response" message="tns:find_2Response" />
</operation>
<operation name="find_1">
<input wsam:Action="http://websecurity.rammarj.com/FactorImpactWS/find_1Request" message="tns:find_1" />
<output wsam:Action="http://websecurity.rammarj.com/FactorImpactWS/find_1Response" message="tns:find_1Response" />
</operation>
<operation name="delete">
<input wsam:Action="http://websecurity.rammarj.com/FactorImpactWS/deleteRequest" message="tns:delete" />
<output wsam:Action="http://websecurity.rammarj.com/FactorImpactWS/deleteResponse" message="tns:deleteResponse" />
</operation>
<operation name="getCount">
<input wsam:Action="http://websecurity.rammarj.com/FactorImpactWS/getCountRequest" message="tns:getCount" />
<output wsam:Action="http://websecurity.rammarj.com/FactorImpactWS/getCountResponse" message="tns:getCountResponse" />
</operation>
</portType>
<binding name="FactorImpactWSPortBinding" type="tns:FactorImpactWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="add">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="update">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="find">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="find_2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="find_1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="delete">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCount">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="FactorImpactWS">
<port name="FactorImpactWSPort" binding="tns:FactorImpactWSPortBinding">
<soap:address location="http://localhost:8080/FactorImpactWS/FactorImpactWS" />
</port>
</service>
</definitions>